body{
    margin: 0px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,25,25,1) 50%, rgba(0,0,0,1) 100%);
}
.mobile.container{
    background-image: url("../../symbols/background.png");
    width: 100%;
    height:100vh;
}
.filter{

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.90) 0%, rgba(25,25,25,0.60) 50%, rgba(0,0,0,0.90) 100%);
    width: 100%;
    height:100vh;
}
